<!-- <div class="jumbotron">
    <div class="row">
        <div class="col">
            <div class="mx-auto w-50 p-3 bg-dark text-white text-center">
                <h1>Login</h1>
            </div>
        </div>
    </div>
  </div>
  <div class="container">
    <div class="jumbotron">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
              <ng-container *ngIf="authService.displayMessage">
                     <p class="alert alert-danger">{{authService.displayMessage}}</p> 
              </ng-container> 
          <div class="text-center">
              <form [formGroup]="userLogin"  novalidate>
                  <div *ngIf="userLogin.controls['username'].invalid && (userLogin.controls['username'].dirty || userLogin.controls['username'].touched)" class="alert alert-danger">
                      <div *ngIf="userLogin.controls['username'].errors.required">Email is required.</div>
                  </div>
                  <div *ngIf="userLogin.controls['password'].invalid && (userLogin.controls['password'].dirty || userLogin.controls['password'].touched)" class="alert alert-danger">
                      <div *ngIf="userLogin.controls['password'].errors.required">Password type is required.</div>
                  </div>
                  <div class="form-group mx-auto">
                      <label for="username">Email</label>
                      <input type="text" class="form-control" formControlName="username" #username placeholder="Email.">
                  </div>
                  <div class="form-group mx-auto">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" formControlName="password" #password placeholder="Password">
                  </div>
                  <button type="submit" (click)="this.authService.login(username.value, password.value)" class="btn btn-primary" [disabled]="!userLogin.valid">Login</button> &nbsp;
              </form>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <body  style="background: linear-gradient(to bottom, lightgrey 0%,grey 50%,lightgrey 50%,white 50%,white 100%);">

          <div class="container" style="padding-top:60px;"> 
            <div class="row">  
              <div class="col-md-6 mx-auto">  
                <div class="card-group">  
                  <div class="card p-4">  
                    <div class="card-body"> 
                      <form [formGroup]="userLogin"  novalidate>   
                        <h1 style="text-align:center"><img src="assets/Full-Logo.png" style="width:4em;height:2em;"></h1> 
                      <br/> 
                      <ng-container *ngIf="authService.displayMessage">
                        <p class="alert alert-danger">{{authService.displayMessage}}</p> 
                      </ng-container> 
                      <div *ngIf="userLogin.controls['username'].invalid && (userLogin.controls['username'].dirty )" class="alert alert-danger">
                        <div *ngIf="userLogin.controls['username'].errors.required">Email is required.</div>
                    </div> <div *ngIf="userLogin.controls['password'].invalid && (userLogin.controls['password'].dirty )" class="alert alert-danger">
                      <div *ngIf="userLogin.controls['password'].errors.required">Password type is required.</div>
                  </div>
                        <div class="input-group mb-3">  
                          <div class="input-group-prepend">  
                            <span class="input-group-text"><i class="icon-user"></i></span>  
                          </div>  
                          <input formControlName="username" type='text' class="form-control sty1" placeholder="Email" #username>
                          
                        </div>  
                        <div class="input-group mb-4">  
                          <div class="input-group-prepend">  
                            <span class="input-group-text"><i class="icon-lock"></i></span>  
                          </div>  
                          <input formControlName="password" type='password' class="form-control" placeholder="Password" #password>
                          
                        </div>   
                        <div class="row">  
                          <div class="col-6">  
                            <button type="submit" (click)="this.authService.login(username.value, password.value)" class="btn btn-primary px-4" [disabled]="!userLogin.valid" style="box-shadow: 0 8px 8px 0 black; background-color: #001645; border-color: #001645">Login</button>
                          </div>  
                          <div class="col-6 text-right">  
                            <button type="button" class="btn btn-link px-0" style="color: #001645" (click)='this.authService.resetPassword(username.value)' [disabled]="userLogin.controls['username'].invalid">Forgot password?</button>  
                          </div>  
                        </div>  
                      </form>  
                    </div>  
                  </div>  
                </div>  
              </div>  
            </div>  
          </div>  
        </body>
 
