<div class="jumbotron">
  <div class="row">
     <div class="col">
        <div class="mx-auto w-50 p-3 bg-dark text-white text-center">
           <h1>Registering Employees</h1>
           <ng-template [ngIf]='message != "" ' >
            <div class="alert alert-success" role="alert" *ngIf="valid==true">
               {{message}}<br>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="valid==false">
               {{message}}<br>
            </div>
         </ng-template>
        </div>
     </div>
  </div>
</div>
<div class="container">
  <div class="mx-auto w-50 text-center">
     <div class="row">
        <div class="col 6">
           <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#takePicture" (click)='this.showWebcam = true;' >
           Take a picture
           </button>
        </div>
        <div class="col 6">
           <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadImage">
           Upload an image
           </button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="takePicture" tabindex="-1" role="dialog" aria-labelledby="takePicture" aria-hidden="true">
           <div class="modal-dialog" role="document">
              <div class="modal-content">
                 <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Take a picture</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                 </div>
                 <div class="modal-body">
                    <div id="app">
                     <form [formGroup]="takePictureForm"  novalidate>
                           <div *ngIf="takePictureForm.controls['name'].invalid && (takePictureForm.controls['name'].dirty || takePictureForm.controls['name'].touched)" class="alert alert-danger">
                                 <div *ngIf="takePictureForm.controls['name'].errors.required">Name is required.</div>
                             </div>
                             <div *ngIf="takePictureForm.controls['surname'].invalid && (takePictureForm.controls['surname'].dirty || takePictureForm.controls['surname'].touched)" class="alert alert-danger">
                                 <div *ngIf="takePictureForm.controls['surname'].errors.required">Surname  is required.</div>
                             </div>
                             <div *ngIf="takePictureForm.controls['email'].invalid && (takePictureForm.controls['email'].dirty || takePictureForm.controls['email'].touched)" class="alert alert-danger">
                                 <div *ngIf="takePictureForm.controls['email'].errors.required">Email is required.</div>
                             </div>
                             <div *ngIf="takePictureForm.controls['title'].invalid && (takePictureForm.controls['title'].dirty || takePictureForm.controls['title'].touched)" class="alert alert-danger">
                                 <div *ngIf="takePictureForm.controls['title'].errors.required">Title type is required.</div>
                             </div>
                       <webcam [height]="400" [width]="400" [trigger]="triggerObservable" (imageCapture)="handleImage($event,NameSnap.value,SurnameSnap.value,TitleSnap.value,EmailSnap.value)" *ngIf="showWebcam"
                       [videoOptions]="videoOptions"
                       [imageQuality]="1"
                       (initError)="handleInitError($event)"
                       ></webcam>
                       <div class="mx-auto w-50">
                          <input #NameSnap class="form-control" formControlName="name" type="text" placeholder="Name" >
                          <input #SurnameSnap  type="text" class="form-control" formControlName="surname" placeholder="Surname">
                          <input #EmailSnap  type="email" class="form-control" formControlName="email" placeholder="Email" >
                          <select class="selectpicker" class="form-control" formControlName="title" data-style="btn-primary" #TitleSnap>
                             <option selected disabled>Choose one</option>
                             <option value="Mr">Mr</option>
                             <option value="Mrs">Mrs</option>
                             <option value="Ms">Ms</option>
                             <option value="Apache Helicopter">Apache Helicopter</option>
                          </select>
                          <br>
                          <div><button id="snap" class="btn btn-primary" data-dismiss="modal" (click)='this.showWebcam = false;' (click)="triggerSnapshot()">Snap Photo</button></div>
                       </div>
                       </form>
                    </div>
                 </div>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)='this.showWebcam = false;'> Close</button>
                 </div>
              </div>
           </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="uploadImage" tabindex="-1" role="dialog" aria-labelledby="uploadImage" aria-hidden="true">
           <div class="modal-dialog" role="document">
              <div class="modal-content">
                 <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload an image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                 </div>
                 <div class="modal-body">
                    <div class="mx-auto w-50">
                        <form [formGroup]="uploadImageForm"  novalidate>
                              <div *ngIf="uploadImageForm.controls['nameA'].invalid && (uploadImageForm.controls['nameA'].dirty || uploadImageForm.controls['nameA'].touched)" class="alert alert-danger">
                                    <div *ngIf="uploadImageForm.controls['nameA'].errors.required">Name is required.</div>
                                </div>
                                <div *ngIf="uploadImageForm.controls['surnameA'].invalid && (uploadImageForm.controls['surnameA'].dirty || uploadImageForm.controls['surnameA'].touched)" class="alert alert-danger">
                                    <div *ngIf="uploadImageForm.controls['surnameA'].errors.required">Surname  is required.</div>
                                </div>
                                <div *ngIf="uploadImageForm.controls['emailA'].invalid && (uploadImageForm.controls['emailA'].dirty || uploadImageForm.controls['emailA'].touched)" class="alert alert-danger">
                                    <div *ngIf="uploadImageForm.controls['emailA'].errors.required">Email is required.</div>
                                </div>
                                <div *ngIf="uploadImageForm.controls['titleA'].invalid && (uploadImageForm.controls['titleA'].dirty || uploadImageForm.controls['titleA'].touched)" class="alert alert-danger">
                                    <div *ngIf="uploadImageForm.controls['titleA'].errors.required">Title type is required.</div>
                                </div>
                       <input #imageInput   type="file" accept="image/*" >
                       <input #Name class="form-control" formControlName="nameA" type="text" placeholder="Name" >
                       <input #Surname class="form-control" formControlName="surnameA"  type="text" placeholder="Surname">
                       <input #Email class="form-control" formControlName="emailA"  type="email" placeholder="Email" >
                       <select #Title class="form-control" formControlName="titleA" class="selectpicker" data-style="btn-primary">
                          <option selected disabled>Choose one</option>
                          <option value="Mr">Mr</option>
                          <option value="Mrs">Mrs</option>
                          <option value="Ms">Ms</option>
                          <option value="Apache Helicopter">Apache Helicopter</option>
                       </select>
                       <br>
                       <input type="submit" class="btn btn-primary" data-dismiss="modal" (click) ="processFile(imageInput,Name.value,Surname.value,Title.value,Email.value)">
                        </form>
                    </div>
                 </div>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)='this.showWebcam = false;'> Close</button>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>