<ion-header>
  <ion-toolbar>
    <ion-title>
     About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background: none transparent;">
    <ion-card class="welcome-card">
        <div class="jumbotron">
          <div class="row">
             <div class="col">
                <div class="mx-auto w-50 p-3 bg-dark text-white text-center">
                   <h1>ABOUT</h1>
                </div>
             </div>
          </div>
        </div>
        <ion-card-content>
          <p>This is an app that can be used to verify a person's OTP.</p>
          <p> The app allows for two ways of validating OTP's. </p>
          <p>Firstly it allows a person to select the event they wish to have access to, and then enter their OTP they received via Email.</p>
              <p> Secondly if the room has an OTP generated( via Admin on request) then the person can simply scan the QR-Code at the room and then enter the OTP to that room.
          </p>
        </ion-card-content>
      </ion-card>
  
</ion-content>
