<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
     Advance
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content style="background: none transparent;">
    <body style="background:  linear-gradient(to bottom, lightgrey 0%,grey 50%,lightgrey 50%,white 50%,white 100%);">
        <div class="container" style="padding-top:60px;"> 
            <div class="row">  
              <div class="col-md-6 mx-auto">  
                <div class="card-group">  
                  <div class="card p-4">  
                    <div class="card-body">
                        <h1 style="text-align:center;color: #001645">About</h1> 
                        <br>
                        <ion-card-content>
                            <ion-item>
                                This app is to be used to enter booked rooms inside of Advance.

                                There is two methods of gaining access one is by using your OTP and selecting the event and the
                                second is by scanning the QR-code at the door and then entering your OTP.
                                </ion-item>   
                                <ion-item>
                                  <a style ="color:#001645" href="https://github.com/cos301-2019-se/A-Recognition">More information</a>
                                </ion-item>
                          </ion-card-content>
                      </div>  
                    </div>  
                  </div>  
                </div>  
              </div>  
              </div>
              </body>   
</ion-content>
