 <ion-app>
<!--<ion-header>
  <ion-toolbar>
    <ion-title>
     Advance
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content style="background: none transparent;">
    <body style="background:  linear-gradient(to bottom, lightgrey 0%,grey 50%,lightgrey 50%,white 50%,white 100%);">
        <div class="container" style="padding-top:60px;"> 
            <div class="row">  
              <div class="col-md-6 mx-auto">  
                <div class="card-group">  
                  <div class="card p-4">  
                    <div class="card-body">
                        <h1 style="text-align:center;color: #001645">Entering an OTP</h1> 
                        <br>
        <ion-card-content>
          <p>Scan QR-code to specify which room you would like to enter</p>
        </ion-card-content>
        <ion-item >      
            <ion-icon name="calculator"></ion-icon>  
            <ion-input type="number"  maxlength="6" clearInput value="123456" #otp></ion-input>
          </ion-item> 
          <ion-item >
              <ion-icon name="camera"></ion-icon>

            <ion-button  (click)="scanCode()">
              Scan Code
            </ion-button> 
          </ion-item >   
          <ion-item >
            <button id="snap"   class="btn btn-primary" style="box-shadow: 0 8px 8px 0 black; background-color: #001645; border-color: #001645" (click)='validateOTP(otp.value)'>Submit</button>
          </ion-item >   
          <div *ngIf="scannedData">
            <p>
              Scanned Code Text : <b>{{ scannedData }}</b>
            </p>
            <p>Entered OTP:<b>{{otpEntered}}</b></p>
          </div>
        </div>  
      </div>  
    </div>  
  </div>  
</div>  
</div>
</body>

      <!-- <form [formGroup]="otpScan"  novalidate> -->
          <!-- <div *ngIf="otpScan.controls['otp'].invalid && (otpScan.controls['otp'].dirty || otpScan.controls['otp'].touched)" class="alert alert-danger">
              <div *ngIf="otpScan.controls['otp'].errors.required">OTP needs to be entered.</div>
          </div>class="form-control" formControlName="otp" -->
     
      <!-- </form> -->
</ion-content>
</ion-app>