
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="home" routerlink="home">Advance</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="adding" routerlink="adding">ADD</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="otp" routerlink="otp">OTP</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="reports" routerlink="reports">Reports</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="" (click)="authService.logout()">Logout</a>
                </li>
              </ul>
          </div>
        </div>
      </nav>
