<!-- Page Content -->
<div class="jumbotron">
    <div class="row">
       <div class="col">
          <div class="mx-auto w-50 p-3 bg-dark text-white text-center">
             <h1>Dashboard</h1>
          </div>
       </div>
    </div>
 </div>
 <div class="container">
    <div class="row">
       <div class="col-lg-4 mb-4">
          <div class="card h-100">
             <h4 class="card-header">Add an Employee</h4>
             <div class="card-body">
                <p class="card-text">Add the employees details to the database.</p>
             </div>
             <div class="card-footer">
                <a href="adding" class="btn btn-primary">Add Now</a>
             </div>
          </div>
       </div>
       <div class="col-lg-4 mb-4">
          <div class="card h-100">
             <h4 class="card-header">Generate OTP's</h4>
             <div class="card-body">
                <p class="card-text">Manually Generate One Time Pins for a user</p>
             </div>
             <div class="card-footer">
                <a href="otp" class="btn btn-primary">Generate Now</a>
             </div>
          </div>
       </div>
       <div class="col-lg-4 mb-4">
          <div class="card h-100">
             <h4 class="card-header">View Reports</h4>
             <div class="card-body">
                <p class="card-text">View graphs and summaries. View logs</p>
             </div>
             <div class="card-footer">
                <a href="reports" class="btn btn-primary">View Now</a>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- /.container -->