<!-- Page Content -->
<!-- <div class="jumbotron">
    <div class="row">
       <div class="col">
          <div class="mx-auto w-50 p-3 bg-dark text-white text-center">
             <h1>Dashboard</h1>
          </div>
       </div>
    </div>
 </div>
 <div class="container">
    <div class="row">
       <div class="col-lg-4 mb-4">
          <div class="card h-100">
             <h4 class="card-header">Add an Employee</h4>
             <div class="card-body">
                <p class="card-text">Add the employees details to the database.</p>
             </div>
             <div class="card-footer">
                <a href="adding" class="btn btn-primary">Add Now</a>
             </div>
          </div>
       </div>
       <div class="col-lg-4 mb-4">
          <div class="card h-100">
             <h4 class="card-header">Generate OTP's</h4>
             <div class="card-body">
                <p class="card-text">Manually Generate One Time Pins for a user</p>
             </div>
             <div class="card-footer">
                <a href="otp" class="btn btn-primary">Generate Now</a>
             </div>
          </div>
       </div>
       <div class="col-lg-4 mb-4">
          <div class="card h-100">
             <h4 class="card-header">View Reports</h4>
             <div class="card-body">
                <p class="card-text">View graphs and summaries. View logs</p>
             </div>
             <div class="card-footer">
                <a href="reports" class="btn btn-primary">View Now</a>
             </div>
          </div>
       </div>
    </div>
 </div> -->
 <!-- /.container -->
 <body style="background: linear-gradient(to bottom, lightgrey 0%,grey 50%,lightgrey 50%,white 50%,white 100%);">
   <div class="container" style="padding-top:60px;"> 
       <div class="row">  
         <div class="col-md-12 mx-auto">  
           <div class="card-group">  
             <div class="card p-4">  
               <div class="card-body">    
                   <h1 style="text-align:center"><img src="assets/Full-Logo.png" style="width:6em;height:2em;"></h1> 
                   <br><br>
                   <div class="container">
                     <!-- Marketing Icons Section -->
                     <div class="row">
                        <div class="col-lg-4 mb-4">
                           <div class="card h-100">
                              <h4 class="card-header" style="color: #001645">Add an Employee</h4>
                              <div class="card-body">
                                 <p class="card-text" style="color: #001645">Add the employees details to the database.</p>
                              </div>
                              <div class="card-footer">
                                 <a href="adding" class="btn btn-primary button" style="box-shadow: 0 8px 8px 0 black; background-color: #001645; border-color: #001645">Add Now</a>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                           <div class="card h-100">
                              <h4 class="card-header" style="color: #001645">Generate OTP's</h4>
                              <div class="card-body">
                                 <p class="card-text" style="color: #001645">Manually Generate One Time Pins for a user</p>
                              </div>
                              <div class="card-footer">
                                 <a href="otp" class="btn btn-primary button" style="box-shadow: 0 8px 8px 0 black; background-color: #001645; border-color: #001645">Generate Now</a>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                           <div class="card h-100">
                              <h4 class="card-header" style="color: #001645" >View Reports</h4>
                              <div class="card-body">
                                 <p class="card-text" >View graphs and summaries. View logs</p>
                              </div>
                              <div class="card-footer">
                                 <a href="reports" class="btn btn-primary button" style="box-shadow: 0 8px 8px 0 black; background-color: #001645; border-color: #001645">View Now</a>
                              </div>
                           </div>
                        </div>
                     </div>
               </div>  
             </div>  
           </div>  
         </div>  
       </div>  
     </div>  
     </div>
</body>