<!-- Page Content -->
<div class="jumbotron">
        <div class="row">
            <div class="col">
                <div class="mx-auto w-50 p-3 bg-dark text-white text-center">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
      </div>
<div class="container">

<!-- Marketing Icons Section -->
<div class="row">
    <div class="col-lg-4 mb-4">
    <div class="card h-100">
        <h4 class="card-header">Add an Empployee</h4>
        <div class="card-body">
        <p class="card-text">Add the employees details to the database.</p>
        </div>
        <div class="card-footer">
        <a href="adding" class="btn btn-primary">Add Now</a>
        </div>
    </div>
    </div>
    <div class="col-lg-4 mb-4">
    <div class="card h-100">
        <h4 class="card-header">Generate OTP's</h4>
        <div class="card-body">
        <p class="card-text">Manually Generate One Time Pins for a user</p>
        </div>
        <div class="card-footer">
        <a href="otp" class="btn btn-primary">Generate Now</a>
        </div>
    </div>
    </div>
    <div class="col-lg-4 mb-4">
    <div class="card h-100">
        <h4 class="card-header">View Reports</h4>
        <div class="card-body">
        <p class="card-text">View graphs and summaries. View logs</p>
        </div>
        <div class="card-footer">
        <a href="reports" class="btn btn-primary">View Now</a>
        </div>
    </div>
    </div>
</div>
<!-- /.row -->

<!-- Portfolio Section -->
<h2>Current Employees</h2>

<div class="row">
    <div class="col-lg-4 col-sm-6 portfolio-item">
    <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
        <h4 class="card-title">
            <a href="#">Project One</a>
        </h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
        </div>
    </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
    <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
        <h4 class="card-title">
            <a href="#">Project Two</a>
        </h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
    </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
    <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
        <h4 class="card-title">
            <a href="#">Project Three</a>
        </h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>
        </div>
    </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
    <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
        <h4 class="card-title">
            <a href="#">Project Four</a>
        </h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
    </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
    <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
        <h4 class="card-title">
            <a href="#">Project Five</a>
        </h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
    </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
    <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
        <h4 class="card-title">
            <a href="#">Project Six</a>
        </h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
        </div>
    </div>
    </div>
</div>
<!-- /.row -->


</div>
<!-- /.container -->

