<div class="jumbotron">
    <div class="row">
       <div class="col">
          <div class="mx-auto w-50 p-3 bg-dark text-white text-center">
             <h1>Manual OTP generation</h1>
          </div>
       </div>
    </div>
</div>
<div class="mx-auto w-50 text-center">
    <input #email  type="email" placeholder="Email" >
    <br>
    <select #EventInfo>
        <option *ngFor="let i of eventList" [value]="i.id">
            {{i.summary}}-{{i.location}} || {{i.startDate}} - {{i.startTime}} ||
        </option>
    </select>
    <br>
    <div>
    <button id="snap" class="btn btn-primary" (click)='generateOTP(email.value,EventInfo.value)'>Generate OTP</button>
    </div>
</div>
