<div class="jumbotron">
    <div class="row">
       <div class="col">
          <div class="mx-auto w-50 p-3 bg-dark text-white text-center">
             <h1>Employees</h1>
          </div>
       </div>
    </div>
  </div>
  <div class="container">
    <div class="mx-auto w-50 text-center">
       <div class="row">
          <ng-template [ngIf]='message != "" ' >
             <div class="alert alert-success" role="alert" *ngIf="valid==true">
                {{message}}<br>
             </div>
             <div class="alert alert-danger" role="alert" *ngIf="valid==false">
                {{message}}<br>
             </div>
          </ng-template>
       </div>
    </div>
  </div>
  <div class="row">
     <div class="col-lg-4 col-sm-6 portfolio-item" *ngFor="let i of employeeList">
        <div class="card h-100">
           <div class="card-body">
              <h4 class="card-title">
                <p>{{i.Title}}.</p> <p>{{i.Name}} </p><p>{{i.Surname}}</p>
              </h4>
           </div>
        </div>
     </div>     
  </div>
