.white
{
    color: white;
}

.popup-warning
{
    position: fixed;
    left: 3%;
    width: 94%;
    height: 88%;
    padding: 70px;
    margin: auto;
    background-color: #343a40;
    text-align: center;
    color: orangered;
}

.popup-fail
{
    position: fixed;
    left: 3%;
    width: 94%;
    height: 88%;
    padding: 70px;
    margin: auto;
    background-color: #343a40;
    text-align: center;
    color: red;
}

.popup-success
{
    position: fixed;
    left: 3%;
    width: 94%;
    height: 88%;
    padding: 70px;
    margin: auto;
    background-color: #343a40;
    text-align: center;
    color: rgb(0,255,0);    
}

.messageDetail{
    font-family: 'Lato-Bold', sans-serif;
    font-size: 2em;
    font-weight: bold;
    float: left;
}

.message
{
    font-family: 'Lato-Bold', sans-serif;
    font-size: 8em;
    font-weight: bold;
}