absl-py==0.7.1
aniso8601==6.0.0
apturl==0.5.2
asn1crypto==0.24.0
astor==0.7.1
astroid==2.1.0
bleach==1.5.0
blinker==1.4
Brlapi==0.6.7
CacheControl==0.12.5
cachetools==3.1.0
certifi==2018.8.24
chardet==3.0.4
chrome-gnome-shell==0.0.0
Click==7.0
colorama==0.4.1
command-not-found==0.3
cryptography==2.3
cupshelpers==1.0
cycler==0.10.0
defer==1.0.6
distro==1.3.0
distro-info===0.21ubuntu2
dlib==19.17.0
entrypoints==0.3
face-recognition==1.2.3
face-recognition-models==0.3.0
firebase-admin==2.16.0
Flask==1.0.3
Flask-Jsonpify==1.5.0
Flask-RESTful==0.3.7
gast==0.2.2
google-api-core==1.11.0
google-auth==1.6.3
google-cloud-core==1.0.0
google-cloud-firestore==1.2.0
google-cloud-storage==1.16.0
google-pasta==0.1.7
google-resumable-media==0.3.2
googleapis-common-protos==1.6.0
gpg==1.12.0
grpcio==1.20.1
h5py==2.9.0
html5lib==0.9999999
httplib2==0.11.3
idna==2.6
imageio==2.5.0
imutils==0.5.2
isort==4.3.4
itsdangerous==1.1.0
Jinja2==2.10.1
joblib==0.13.2
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
keyring==17.1.1
keyrings.alt==3.1.1
kiwisolver==1.1.0
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.3.1
louis==3.8.0
macaroonbakery==1.2.1
Mako==1.0.7
Markdown==3.1
MarkupSafe==1.1.0
matplotlib==3.0.3
mccabe==0.6.1
mock==3.0.5
msgpack==0.6.1
netifaces==0.10.4
numpy==1.16.3
oauth==1.0.1
oauthlib==2.1.0
olefile==0.46
opencv-python==4.1.0.25
pandas==0.24.2
pexpect==4.6.0
pigar==0.9.2
Pillow==5.4.1
protobuf==3.6.1
psutil==5.6.2
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
PyGObject==3.32.0
PyJWT==1.7.0
pylint==2.2.2
pymacaroons==0.13.0
PyNaCl==1.3.0
pyparsing==2.4.0
PyQt5==5.12.1
pyRFC3339==1.1
PySocks==1.6.8
python-apt==1.8.4
python-dateutil==2.7.3
python-debian==0.1.34
python-firebase==1.2
pytz==2018.9
pyxdg==0.25
PyYAML==3.13
reportlab==3.5.18
requests==2.22.0
requests-unixsocket==0.1.5
rsa==4.0
scikit-learn==0.21.1
scipy==1.2.1
scour==0.37
SecretStorage==2.3.1
simplejson==3.16.0
six==1.12.0
system-service==0.3
systemd-python==234
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
torbrowser-launcher==0.3.1
tqdm==4.32.2
ubuntu-advantage-tools==19.2
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.24.1
usb-creator==0.3.3
vboxapi==1.0
wadllib==1.3.3
Werkzeug==0.15.4
wrapt==1.11.1
xkit==0.0.0
zope.interface==4.3.2
